<div class="user_block flex">
  <div class="user_image_container">
    <img src="<%= user.photo %>" class="user_photo" alt="user image">
  </div>

  <div class="user_text">
    <h4 class="user_name"><%= user.name %></h4>
    <span class="user_posts">Number of posts: <small><%= user.posts_counter || 0 %></small></span>
  </div>
</div>