<div class="user_block">
  <div class="user_image">
    <img src="https://www.flaticon.com/free-icon/man_236832" alt="user image">
  </div>

  <div class="user_text">
    <h4 class="title">User name</h4>
    <span class="user_posts">Number of posts: 0</span>
  </div>
</div>