<section class="users_container">
  <ul class="users_list">
    <% @users.each do |user| %>
      <li class="user_item">
        <%= render partial: 'user', locals: { user: user } %>
      </li>
    <% end %>
  </ul>
</section>
